



 .header{
    float:right;
    margin:10px;
}

.main {
    text-align: center;
}

.logo img{
    height: 150px;
    margin-top: 15%;
    width: 250px;
}
.text{
    text-align: center;
    font-size: 40px;
}

.search-box input{
    background:url("searchicon.png")right no-repeat;
    background-size: 50px;
    padding: 1.3em .8em 1em;
    max-width: 590px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none;
    width: 70%;
}

.language p{
    font-size: 20px;
}