

.container {
	margin-top: 20px;
}

.table {
	border-collapse: collapse;
	width: 100%;

}
.table td , th, tr  {
 	border: 1px solid #dddddd;
 	
 	text-align: left;
 	padding-right: 75px;

}

td {
	padding: 10px;
	border: 1px solid #dddddd;
}
.title b {
	background-color: maroon;
	color: white;
	padding: 5px;
}
.Firsttitle{
	background-color: maroon;
	color: white;
	

}

input[type='checkbox'] {
   
    width:15px;
    height:15px;
    background:white;
    border-radius:2px;
    border:1px solid #555;
}
.error{
	color: red;
	border-color: red;
	border: 2px;
}

.hidden {
	display: none;
}

.valid {
	border: 1px solid #00FF00;
}

.invalid {
	border: 1px solid red;
}





















